input{
    display: block;
    padding: 0;
    width: 200px;
}
  
div#home{
    width: 420px;
    margin: 25px auto 0px auto;
}
div.logo {
    width: 420px;
    margin: 25px auto 0px auto;
    height:800px;

}
    div#cadastro h1 {
        text-align: center;
        padding: 10px;
        font-size: larger;
    }

div#lista {
    margin: 15px 15px 0px auto;
    padding: 0px;
     background-color: red;

}
    div#cadastro img {
        width: 300px;
        height: 200px;
        margin: 15px auto 0px auto;

    }
img {
    width: 200px;
    height: 150px;
    margin: 25px auto 0px auto;
}

Container {
    background-color: black;
    width: 420px;
    margin: 25px auto 0px auto;
    height: 800px;
}

#main-banner{
    background-color: red;
    background-size:cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;

}

